include setup.py
include conftest.py
graft docs
graft tests
graft */config
prune  tests/__pycache__
global-exclude *.pyc
global-exclude *.pyo
global-include *.rst
recursive-include lightningwolf_smp/static *
recursive-include lightningwolf_smp/templates *.html
include VERSION
include DESCRIPTION
include PACKAGE_NAME
include requirements.txt
include *.py
