docopt>=0.6.1,<1.0.0
Flask==0.10.1,<1.0.0
Flask-SQLAlchemy>=1.0,<2.0
MySQL-python>=1.2.5,<2.0.0
Flask_LwAdmin>=0.6.0,<0.7.0
Flask-Login>=0.2.6,<1.0.0
bcrypt>=1.0.2,<2.0.0
Flask-Principal>=0.4.0,<1.0.0
raven[flask]>=4.0.4,<5.0.0
Flask-DebugToolbar>=0.8.0,<1.0.0
py-email-validation>=1.0.0.3,<2.0.0
Flask-Script>=0.5.3,<0.6.0
alembic>=0.6.3,<1.0.0
fake-factory>=0.3.2,<1.0.0