{% extends 'jqueryuibootstrap_layout.html' %}
{% import 'jqueryuibootstrap_wtf.html' as wtf %}
{% import 'messages_macros.html' as messages_macros with context -%}

{% block container %}
    <h1>Create Users</h1>
    {{ messages_macros.messages() }}
    <form class="form-horizontal" method="post" action="/backend.php/tw_guard_user">
        {{ form.hidden_tag() if form.hidden_tag }}
        {{ wtf.form_errors(form, False) }}
        {{ wtf.horizontal_field(form.username) }}
        {{ wtf.horizontal_field(form.password) }}
        {{ wtf.horizontal_field(form.repassword) }}
        {{ wtf.horizontal_field(form.email) }}
        {{ wtf.horizontal_field(form.perm) }}
        <div class="form-actions">
            <div class="btn-group pull-left">
                <input class="btn btn-primary" type="submit" value="Save" />
                <input class="btn btn-primary" type="submit" value="Save and Add" name="_save_and_add" />
            </div>
            <div class="btn-group pull-right">
                <a title="Back to list" class="btn btn-warning" href="{{ url_for('user.user_list') }}"><i class="icon-th-list"></i> Back to list</a>
            </div>
        </div>
    </form>
{% endblock %}