{% extends 'jqueryuibootstrap_layout.html' %}
{% import 'macros/messages.html' as messages_macros with context -%}
{% import 'macros/filters.html' as filters_macros %}
{% import 'macros/batch_actions.html' as batch_actions_macros %}
{% import 'macros/list.html' as list_macros with context -%}

{% block container %}
    <h1>Users List {{ current_user }}</h1>
    {{ messages_macros.messages() }}

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if filter %}{{ filters_macros.filter_button('filtersBootstrapGeneratorModal') }}{%  endif %}
        </div>
        <div class="btn-group pull-right">
            <a title="New" class="btn btn-primary " href="{{ url_for('user.user_create') }}">
                <i class="icon-plus icon-white"></i> New
            </a>
        </div>
    </div>

    {% if filter %}
    {{ filters_macros.filter_modal(id='filtersBootstrapGeneratorModal', filter_form=filter, action=url_for('user.user_filter')) }}
    {%  endif %}

    <form class="form-inline" action="{{ url_for('user.user_batch') }}" method="post">
        {{ list_macros.list(configuration=configuration, pager=pager, results=results, delete_action=delete_action) }}
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if batch_actions %}{{ batch_actions_macros.batch_buttons(batch_form=batch_actions) }}{% endif %}
            </div>
            <div class="btn-group pull-right">
                <a title="New" class="btn btn-primary " href="{{ url_for('user.user_create') }}"><i class="icon-plus icon-white"></i> New</a>
            </div>
        </div>
    </form>
{% endblock %}